body
    margin: 0
    padding: 0
    background-color: #f4f4f4
    font-family: 'Courier New', Courier, monospace
    overflow: auto !important
    width: auto !important

p
    margin: 0

.form-title
    text-align: center
    font-size: 32px
    margin-bottom: 16px
    margin-top: 16px

.container
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    gap: 15%
    max-width: 1200px
    margin: 0 auto
    margin-top: 50px

.form-container
    display: flex
    flex-direction: column
    width: 100%

.form-title
    font-size: 32px
    margin-bottom: 20px

.error-container
    margin-bottom: 20px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 10px

.create-form
    width: 75%

.no-entities-found
    margin: 0
    margin-top: 50px
